.parte{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

a{
    box-sizing: content-box;
    background-color: seagreen;
}

a span{
    margin-right: 10px;
    margin-left: 10px;
}